In [37]:
import os
import pandas as pd

directorio = r'C:\Users\ej.garcia\OneDrive - Minor Hotels Europe & Americas\Business Intelligence\Operational Excellence Analytics\Contact Center\4. Ad-hoc_Analysis\0. Meetings_Data_Incidence\0.Data\0.Creations'

datos_final = pd.DataFrame()

for file in os.listdir(directorio):
    if file.startswith('Conteo'):
        ruta = os.path.join(directorio, file)
        
        df = pd.read_excel(ruta, skiprows=2, header=1, index_col=False)
        df = df.iloc[:, 1:]
        print(df.columns)
        datos_final = pd.concat([datos_final, df], ignore_index=True)
    else:
        next

Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')

c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')
Index(['Conteo_BF', 'Creation date', 'Observation date'], dtype='object')

c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\ej.garcia\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [38]:
datos_final.head()

   Conteo_BF Creation date Observation date
0         29    2025-06-01       2025-06-02
1         29    2025-06-01       2025-06-03
2         29    2025-06-01       2025-06-04
3         64    2025-06-02       2025-06-02
4       1222    2025-06-02       2025-06-03

In [31]:
datos_final = datos_final.rename(columns={'Booking File ID':'Conteo_BF'})

In [32]:
datos_final.head()

   Conteo_BF Last change date of BF Observation date
0        327             2025-03-09       2025-03-10
1        402             2025-03-09       2025-03-11
2        330             2025-03-09       2025-03-12
3        297             2025-03-09       2025-03-13
4        266             2025-03-09       2025-03-14

In [39]:
datos_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4645 entries, 0 to 4644
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Conteo_BF         4645 non-null   int64
 1   Creation date     4645 non-null   datetime64[ns]
 2   Observation date  4645 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 109.0 KB

In [40]:
datos_final['Creation date'] = datos_final['Creation date'].astype(str)
datos_final['Observation date'] = datos_final['Observation date'].astype(str)

In [41]:
datos_final

      Conteo_BF Creation date Observation date
0            29    2025-06-01       2025-06-02
1            29    2025-06-01       2025-06-03
2            29    2025-06-01       2025-06-04
3            64    2025-06-02       2025-06-02
4          1222    2025-06-02       2025-06-03
...         ...           ...              ...
4640          5    2025-05-31       2025-05-31
4641         76    2025-05-31       2025-06-01
4642         76    2025-05-31       2025-06-02
4643         76    2025-05-31       2025-06-03
4644         76    2025-05-31       2025-06-04

[4645 rows x 3 columns]

In [42]:
datos_final.to_excel(r'C:\Users\ej.garcia\OneDrive - Minor Hotels Europe & Americas\Business Intelligence\Operational Excellence Analytics\Contact Center\4. Ad-hoc_Analysis\0. Meetings_Data_Incidence\0.Data\\Creations.xlsx')