In [143]:
import pandas as pd
import datetime
import pandas_gbq
from datetime import date, timedelta, datetime

In [42]:

# Crear un DataFrame con todas las fechas de 2025
start_date = datetime.date(2025, 1, 1)
end_date = datetime.date(2025, 12, 31)
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
 
data = []
 
for date in date_range:
    weeknum = date.isocalendar()[1]
    month = date.month
    year = date.year
   
    for web_no_web in ['WEB', 'NO WEB']:
        data.append([
            date, weeknum, month, year, 'CRO', 'SPAIN', 'TUNISIA', web_no_web,
            0, 'kkkkk', 0, 'kkkkk', 0, 'kkkkk', 0, 0, 'kkkkk', 0, 0, 0, 0,0
        ])
 
columns = [
    'Date', 'Weeknum', 'Month', 'Year', 'CRO_No_CRO', 'BU', 'Country', 'Web_No_Web',
    'Incoming_Mails ', 'Percentage_Mails', 'Productive_Mails ', 'Conv_Rate', 'Rooms', 'LoS', 'Nights', 'ADR',
    'Other_AOV', 'AOV', 'Room_Revenue', 'Other_Revenue', 'Total_Revenue','AOV'
]
 
df = pd.DataFrame(data, columns=columns)
 
df = df.iloc[:,[0,1,2,3,4,8,9,10,11,12,13,14,15,16,21,18,19,20,7,5,6]]
df = df.astype(str)
 
# pandas_gbq.to_gbq(df, destination_table= 'KPI_metrics.Budget_mail_2025',project_id= 'nh-cro-forecast', if_exists='append')

In [2]:
df.head()

,Date,Weeknum,Month,Year,CRO_No_CRO,Incoming_Mails,Percentage_Mails,Productive_Mails,Conv_Rate,Rooms,...,Nights,ADR,Other_AOV,AOV,Room_Revenue,Other_Revenue,Total_Revenue,Web_No_Web,BU,Country
0,2025-01-01,1,1,2025,CRO,0,kkkkk,0,kkkkk,0,...,0,0,kkkkk,0,0,0,0,WEB,SPAIN,TUNISIA
1,2025-01-01,1,1,2025,CRO,0,kkkkk,0,kkkkk,0,...,0,0,kkkkk,0,0,0,0,NO WEB,SPAIN,TUNISIA
2,2025-01-02,1,1,2025,CRO,0,kkkkk,0,kkkkk,0,...,0,0,kkkkk,0,0,0,0,WEB,SPAIN,TUNISIA
3,2025-01-02,1,1,2025,CRO,0,kkkkk,0,kkkkk,0,...,0,0,kkkkk,0,0,0,0,NO WEB,SPAIN,TUNISIA
4,2025-01-03,1,1,2025,CRO,0,kkkkk,0,kkkkk,0,...,0,0,kkkkk,0,0,0,0,WEB,SPAIN,TUNISIA

In [299]:
df = pandas_gbq.read_gbq("""SELECT * FROM `nh-cro-forecast.KPI_metrics.Budget_mails_2025_Pre_V2`""",project_id="nh-cro-forecast")

Downloading: 100%|██████████|

In [300]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11872 entries, 0 to 11871
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              11872 non-null  dbdate
 1   Country           11872 non-null  object
 2   BU                11872 non-null  object
 3   CRO               11872 non-null  object
 4   Total_Revenue     11872 non-null  float64
 5   Rooms             11872 non-null  float64
 6   Incoming_Mails    11872 non-null  float64
 7   Productive_Mails  11872 non-null  float64
 8   Nights            11872 non-null  float64
 9   Room_Revenue      11872 non-null  float64
 10  Other_Revenue     11872 non-null  float64
dtypes: dbdate(1), float64(7), object(3)
memory usage: 1020.4+ KB

In [301]:
# Crear un nuevo DataFrame duplicando las filas y añadiendo la columna Web_No_Web
df_web = df.copy()
df_web['Web_No_Web'] = 'Web'

df_no_web = df.copy()
df_no_web['Web_No_Web'] = 'No_Web'
df_no_web['Total_Revenue'] = 0
df_no_web['Rooms'] = 0
df_no_web['Incoming_Mails'] = 0
df_no_web['Productive_Mails'] = 0
df_no_web['Nights'] = 0
df_no_web['Room_Revenue'] = 0
df_no_web['Other_Revenue'] = 0

# Concatenar los DataFrames
df_final = pd.concat([df_web, df_no_web], ignore_index=True)

In [302]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23744 entries, 0 to 23743
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              23744 non-null  dbdate
 1   Country           23744 non-null  object
 2   BU                23744 non-null  object
 3   CRO               23744 non-null  object
 4   Total_Revenue     23744 non-null  float64
 5   Rooms             23744 non-null  float64
 6   Incoming_Mails    23744 non-null  float64
 7   Productive_Mails  23744 non-null  float64
 8   Nights            23744 non-null  float64
 9   Room_Revenue      23744 non-null  float64
 10  Other_Revenue     23744 non-null  float64
 11  Web_No_Web        23744 non-null  object
dtypes: dbdate(1), float64(7), object(4)
memory usage: 2.2+ MB

In [303]:
df_final[['Total_Revenue','Rooms','Incoming_Mails','Productive_Mails','Nights','Room_Revenue','Other_Revenue']].sum().round(1)

Total_Revenue       102299899.6
Rooms                  232798.4
Incoming_Mails        1016979.5
Productive_Mails      1016979.5
Nights                 620156.3
Room_Revenue         90679803.2
Other_Revenue        11620096.3
dtype: float64

In [304]:
df_final['AOV'] = df_final['Total_Revenue']/df_final['Rooms']

In [305]:
df_final['ADR'] = df_final['Room_Revenue']/df_final['Nights']

In [306]:
df_final['Conv_Rate'] = df_final['Rooms']/df_final['Productive_Mails']

In [307]:
df_final['Percentage_Mails'] = "kkkkk"
df_final['LoS'] = "kkkkk"
df_final['Other_AOV'] = "kkkkk"

In [308]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23744 entries, 0 to 23743
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              23744 non-null  dbdate
 1   Country           23744 non-null  object
 2   BU                23744 non-null  object
 3   CRO               23744 non-null  object
 4   Total_Revenue     23744 non-null  float64
 5   Rooms             23744 non-null  float64
 6   Incoming_Mails    23744 non-null  float64
 7   Productive_Mails  23744 non-null  float64
 8   Nights            23744 non-null  float64
 9   Room_Revenue      23744 non-null  float64
 10  Other_Revenue     23744 non-null  float64
 11  Web_No_Web        23744 non-null  object
 12  AOV               9844 non-null   float64
 13  ADR               9844 non-null   float64
 14  Conv_Rate         9844 non-null   float64
 15  Percentage_Mails  23744 non-null  object
 16  LoS               23744 non-null  object
 17  Other_AOV         23744 non-null  object
dtypes: dbdate(1), float64(10), object(7)
memory usage: 3.3+ MB

In [309]:
df_final[['Total_Revenue','Rooms','Incoming_Mails','Productive_Mails','Nights','Room_Revenue','Other_Revenue']].sum().round(1)

Total_Revenue       102299899.6
Rooms                  232798.4
Incoming_Mails        1016979.5
Productive_Mails      1016979.5
Nights                 620156.3
Room_Revenue         90679803.2
Other_Revenue        11620096.3
dtype: float64

In [310]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23744 entries, 0 to 23743
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              23744 non-null  dbdate
 1   Country           23744 non-null  object
 2   BU                23744 non-null  object
 3   CRO               23744 non-null  object
 4   Total_Revenue     23744 non-null  float64
 5   Rooms             23744 non-null  float64
 6   Incoming_Mails    23744 non-null  float64
 7   Productive_Mails  23744 non-null  float64
 8   Nights            23744 non-null  float64
 9   Room_Revenue      23744 non-null  float64
 10  Other_Revenue     23744 non-null  float64
 11  Web_No_Web        23744 non-null  object
 12  AOV               9844 non-null   float64
 13  ADR               9844 non-null   float64
 14  Conv_Rate         9844 non-null   float64
 15  Percentage_Mails  23744 non-null  object
 16  LoS               23744 non-null  object
 17  Other_AOV         23744 non-null  object
dtypes: dbdate(1), float64(10), object(7)
memory usage: 3.3+ MB

In [311]:
df_final['date'] = pd.to_datetime(df['date'])

In [312]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23744 entries, 0 to 23743
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              11872 non-null  datetime64[ns]
 1   Country           23744 non-null  object
 2   BU                23744 non-null  object
 3   CRO               23744 non-null  object
 4   Total_Revenue     23744 non-null  float64
 5   Rooms             23744 non-null  float64
 6   Incoming_Mails    23744 non-null  float64
 7   Productive_Mails  23744 non-null  float64
 8   Nights            23744 non-null  float64
 9   Room_Revenue      23744 non-null  float64
 10  Other_Revenue     23744 non-null  float64
 11  Web_No_Web        23744 non-null  object
 12  AOV               9844 non-null   float64
 13  ADR               9844 non-null   float64
 14  Conv_Rate         9844 non-null   float64
 15  Percentage_Mails  23744 non-null  object
 16  LoS               23744 non-null  object
 17  Other_AOV         23744 non-null  object
dtypes: datetime64[ns](1), float64(10), object(7)
memory usage: 3.3+ MB

In [313]:
df_final['WeekNum'] = df_final['date'].dt.strftime('%U')
df_final['Month'] = df_final['date'].dt.month
df_final['Year'] = df_final['date'].dt.year

In [314]:
df_final['WeekNum'] = df_final['WeekNum'].fillna(0).astype(int)
df_final['Month'] = df_final['Month'].fillna(0).astype(int)
df_final['Year'] = df_final['Year'].fillna(0).astype(int)

In [315]:
df_final

,date,Country,BU,CRO,Total_Revenue,Rooms,Incoming_Mails,Productive_Mails,Nights,Room_Revenue,...,Web_No_Web,AOV,ADR,Conv_Rate,Percentage_Mails,LoS,Other_AOV,WeekNum,Month,Year
0,2025-02-01,ANDORRA,SPAIN,CRO,43.263710,0.099581,0.582934,0.582934,0.257441,38.382918,...,Web,434.455576,149.093977,0.170828,kkkkk,kkkkk,kkkkk,4,2,2025
1,2025-01-21,ANDORRA,SPAIN,CRO,28.087630,0.068261,0.214144,0.214144,0.181324,24.903096,...,Web,411.472470,137.340619,0.318763,kkkkk,kkkkk,kkkkk,3,1,2025
2,2025-10-13,ANDORRA,SPAIN,CRO,54.852649,0.134390,0.623644,0.623644,0.350206,48.628746,...,Web,408.161509,138.857598,0.215491,kkkkk,kkkkk,kkkkk,41,10,2025
3,2025-01-13,ANDORRA,SPAIN,CRO,300.644180,0.697291,2.137350,2.137350,1.894003,266.517080,...,Web,431.160399,140.716275,0.326241,kkkkk,kkkkk,kkkkk,2,1,2025
4,2025-10-28,ANDORRA,SPAIN,CRO,16.497496,0.043800,0.207022,0.207022,0.110268,14.626821,...,Web,376.654168,132.647920,0.211572,kkkkk,kkkkk,kkkkk,43,10,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23739,NaT,USA,ITALY,CRO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,No_Web,NaN,NaN,NaN,kkkkk,kkkkk,kkkkk,0,0,0
23740,NaT,USA,ITALY,CRO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,No_Web,NaN,NaN,NaN,kkkkk,kkkkk,kkkkk,0,0,0
23741,NaT,USA,ITALY,CRO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,No_Web,NaN,NaN,NaN,kkkkk,kkkkk,kkkkk,0,0,0
23742,NaT,USA,ITALY,CRO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,No_Web,NaN,NaN,NaN,kkkkk,kkkkk,kkkkk,0,0,0
23743,NaT,USA,ITALY,CRO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,No_Web,NaN,NaN,NaN,kkkkk,kkkkk,kkkkk,0,0,0

In [316]:
df_final[['Total_Revenue','Rooms','Incoming_Mails','Productive_Mails','Nights','Room_Revenue','Other_Revenue']].sum().round(1)

Total_Revenue       102299899.6
Rooms                  232798.4
Incoming_Mails        1016979.5
Productive_Mails      1016979.5
Nights                 620156.3
Room_Revenue         90679803.2
Other_Revenue        11620096.3
dtype: float64

In [317]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23744 entries, 0 to 23743
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              11872 non-null  datetime64[ns]
 1   Country           23744 non-null  object
 2   BU                23744 non-null  object
 3   CRO               23744 non-null  object
 4   Total_Revenue     23744 non-null  float64
 5   Rooms             23744 non-null  float64
 6   Incoming_Mails    23744 non-null  float64
 7   Productive_Mails  23744 non-null  float64
 8   Nights            23744 non-null  float64
 9   Room_Revenue      23744 non-null  float64
 10  Other_Revenue     23744 non-null  float64
 11  Web_No_Web        23744 non-null  object
 12  AOV               9844 non-null   float64
 13  ADR               9844 non-null   float64
 14  Conv_Rate         9844 non-null   float64
 15  Percentage_Mails  23744 non-null  object
 16  LoS               23744 non-null  object
 17  Other_AOV         23744 non-null  object
 18  WeekNum           23744 non-null  int32
 19  Month             23744 non-null  int32
 20  Year              23744 non-null  int32
dtypes: datetime64[ns](1), float64(10), int32(3), object(7)
memory usage: 3.5+ MB

In [318]:
df_final = df_final.iloc[:,[0,18,19,20,3,6,15,7,14,5,16,8,13,17,12,9,10,4,11,2,1]]

In [319]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23744 entries, 0 to 23743
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              11872 non-null  datetime64[ns]
 1   WeekNum           23744 non-null  int32
 2   Month             23744 non-null  int32
 3   Year              23744 non-null  int32
 4   CRO               23744 non-null  object
 5   Incoming_Mails    23744 non-null  float64
 6   Percentage_Mails  23744 non-null  object
 7   Productive_Mails  23744 non-null  float64
 8   Conv_Rate         9844 non-null   float64
 9   Rooms             23744 non-null  float64
 10  LoS               23744 non-null  object
 11  Nights            23744 non-null  float64
 12  ADR               9844 non-null   float64
 13  Other_AOV         23744 non-null  object
 14  AOV               9844 non-null   float64
 15  Room_Revenue      23744 non-null  float64
 16  Other_Revenue     23744 non-null  float64
 17  Total_Revenue     23744 non-null  float64
 18  Web_No_Web        23744 non-null  object
 19  BU                23744 non-null  object
 20  Country           23744 non-null  object
dtypes: datetime64[ns](1), float64(10), int32(3), object(7)
memory usage: 3.5+ MB

In [320]:
df_final.rename(columns={'date':'Date','CRO':'CRO_No_CRO'},inplace=True)

In [321]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23744 entries, 0 to 23743
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              11872 non-null  datetime64[ns]
 1   WeekNum           23744 non-null  int32
 2   Month             23744 non-null  int32
 3   Year              23744 non-null  int32
 4   CRO_No_CRO        23744 non-null  object
 5   Incoming_Mails    23744 non-null  float64
 6   Percentage_Mails  23744 non-null  object
 7   Productive_Mails  23744 non-null  float64
 8   Conv_Rate         9844 non-null   float64
 9   Rooms             23744 non-null  float64
 10  LoS               23744 non-null  object
 11  Nights            23744 non-null  float64
 12  ADR               9844 non-null   float64
 13  Other_AOV         23744 non-null  object
 14  AOV               9844 non-null   float64
 15  Room_Revenue      23744 non-null  float64
 16  Other_Revenue     23744 non-null  float64
 17  Total_Revenue     23744 non-null  float64
 18  Web_No_Web        23744 non-null  object
 19  BU                23744 non-null  object
 20  Country           23744 non-null  object
dtypes: datetime64[ns](1), float64(10), int32(3), object(7)
memory usage: 3.5+ MB